.c-time-stamps {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    height: 3 * 1.5rem; // We tonen enkel 3 items uit onze ul
    margin: 0 0 1.5rem 0;
    padding: 0;

    overflow: hidden;
    
    list-style: none;

    .c-time-stamp {
        font-size: 1rem;
        line-height: 1.5rem; // => dit wordt de hoogte. Dus ...
        text-align: center;
    }
}
